[Unit]
Description=No-IP Dynamic Update Client
After=network.target auditd.service

[Service]
ExecStart= /PATH/TO/SCRIPT
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
